
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');

// tipografias

$font-standard: 'Old Standard TT', serif;
$old-regular: 400;
$old-bold: 700;
$xxx-large: 50px;
$xx-large: 30px;
$font-raleway: 'Raleway', sans-serif;
$raleway-regular: 400;
$raleway-bold: 700;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;




// colores
$white: #fff;
$isabelline: #ececec;
$light-gray:#d1d1d1;
$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-silver: #a6a5a8;
