.button{
    border: 1px solid $smoky-black;
    background-color: $white;
    text-align: center;
    font-family: $font-raleway;
    font-weight: $raleway-bold;
    font-size: $medium;
    padding: 10px 32px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 60px;
}

@media only screen and (max-width:768px){
    .button{
        font-size: $small;
    }
}